<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="{{ uri_for('static', filename='style.css') }}">
</head>
<body>
<header>
  <a href="/login">Log In</a>
  <a href="/signup">Sign Up</a>
</header>
<div class="products">
<div class="product">
  <a href="/product/1" class="product-url">Product 1</a>
</div>
<div class="product">
  <a href="/product/2" class="product-url">Product 2</a>
</div>
<div class="product">
  <a href="/product/3" class="product-url">Product 3</a>
</div>
</div>
<footer>
  <a href="/login">Log In</a>
  <a href="/signup">Sign Up</a>
</footer>
</body>
</html>